useDynLib(rsimd, .registration = TRUE)

# control
export(simd_available)
export(simd_cpu_features)
export(simd_current)
export(simd_math_accuracy)
export(simd_precision)
export(simd_tiers)
export(simd_use)
export(simd_version)
export(simd_with_impl)

# reductions
export(simd_all)
export(simd_any)
export(simd_any_na)
export(simd_cosine)
export(simd_count_na)
export(simd_cummax)
export(simd_cummin)
export(simd_cumprod)
export(simd_cumsum)
export(simd_dist)
export(simd_dot)
export(simd_max)
export(simd_mean)
export(simd_min)
export(simd_norm)
export(simd_prod)
export(simd_range)
export(simd_sd)
export(simd_sum)
export(simd_sum_abs)
export(simd_sum_sq)
export(simd_var)
export(simd_which_max)
export(simd_which_min)
export(simd_which_na)

# elementwise arithmetic
export(simd_abs)
export(simd_abs_wrap)
export(simd_add)
export(simd_add_mul)
export(simd_add_wrap)
export(simd_ceiling)
export(simd_clamp)
export(simd_copysign)
export(simd_div)
export(simd_floor)
export(simd_fma)
export(simd_idiv)
export(simd_lerp)
export(simd_mod)
export(simd_mul)
export(simd_mul_add)
export(simd_mul_add_approx)
export(simd_mul_wrap)
export(simd_neg)
export(simd_neg_wrap)
export(simd_pmax)
export(simd_pmax_num)
export(simd_pmin)
export(simd_pmin_num)
export(simd_recip)
export(simd_round)
export(simd_sign)
export(simd_sqrt)
export(simd_sub)
export(simd_sub_wrap)
export(simd_trunc)

# predicates, comparisons and Hamming distances
export(simd_eq)
export(simd_ge)
export(simd_gt)
export(simd_hamming)
export(simd_hamming_bits)
export(simd_is_even)
export(simd_is_even_all)
export(simd_is_even_any)
export(simd_is_finite)
export(simd_is_finite_all)
export(simd_is_finite_any)
export(simd_is_infinite)
export(simd_is_infinite_all)
export(simd_is_infinite_any)
export(simd_is_na)
export(simd_is_na_all)
export(simd_is_na_any)
export(simd_is_nan)
export(simd_is_nan_all)
export(simd_is_nan_any)
export(simd_is_negative)
export(simd_is_negative_all)
export(simd_is_negative_any)
export(simd_is_normal)
export(simd_is_normal_all)
export(simd_is_normal_any)
export(simd_is_odd)
export(simd_is_odd_all)
export(simd_is_odd_any)
export(simd_is_pow2)
export(simd_is_pow2_all)
export(simd_is_pow2_any)
export(simd_is_subnormal)
export(simd_is_subnormal_all)
export(simd_is_subnormal_any)
export(simd_is_whole)
export(simd_is_whole_all)
export(simd_is_whole_any)
export(simd_is_zero)
export(simd_is_zero_all)
export(simd_is_zero_any)
export(simd_le)
export(simd_lt)
export(simd_ne)

# logical and bitwise ops
export(simd_and)
export(simd_bit_and)
export(simd_bit_not)
export(simd_bit_or)
export(simd_bit_xor)
export(simd_lzcnt)
export(simd_not)
export(simd_or)
export(simd_popcount)
export(simd_popcount_total)
export(simd_rotl)
export(simd_rotr)
export(simd_sar)
export(simd_shl)
export(simd_shr)
export(simd_tzcnt)
export(simd_xor)

# conversions
export(simd_as_double)
export(simd_as_integer)
export(simd_as_logical)
export(simd_as_integer64)
export(simd_as_raw)

# elementary functions
export(simd_acos)
export(simd_acosh)
export(simd_asin)
export(simd_asinh)
export(simd_atan)
export(simd_atan2)
export(simd_atanh)
export(simd_cbrt)
export(simd_cos)
export(simd_cosh)
export(simd_cospi)
export(simd_exp)
export(simd_exp10)
export(simd_exp2)
export(simd_expm1)
export(simd_hypot)
export(simd_log)
export(simd_log10)
export(simd_log1p)
export(simd_log2)
export(simd_pow)
export(simd_sin)
export(simd_sincos)
export(simd_sinh)
export(simd_sinpi)
export(simd_tan)
export(simd_tanh)
export(simd_tanpi)
export(simd_ilogb)
export(simd_next_down)
export(simd_next_up)
export(simd_nextafter)
export(simd_remainder)
export(simd_rootn)
export(simd_rsqrt)
export(simd_scaleb)

# approximations
export(simd_recip_approx)
export(simd_rsqrt_approx)

# ML helpers
export(simd_log_softmax)
export(simd_sigmoid)
export(simd_softmax)

# complex numbers
export(simd_arg)
export(simd_conj)
export(simd_im)
export(simd_re)

# simd_vec wrapper
export(as_simd_vec)
export(is_simd_vec)
export(simd_impl)
export("simd_impl<-")
export(simd_na_free)
export(simd_unwrap)
export(simd_vec)
S3method(as_simd_vec, default)
S3method(as_simd_vec, simd_vec)
S3method(Ops, simd_vec)
S3method(Math, simd_vec)
S3method(Summary, simd_vec)
S3method(Complex, simd_vec)
S3method(chooseOpsMethod, simd_vec)
S3method(mean, simd_vec)
S3method(is.na, simd_vec)
S3method(anyNA, simd_vec)
S3method(xtfrm, simd_vec)
S3method("[", simd_vec)
S3method("[<-", simd_vec)
S3method("[[", simd_vec)
S3method("[[<-", simd_vec)
S3method(c, simd_vec)
S3method("length<-", simd_vec)
S3method("names<-", simd_vec)
S3method("dim<-", simd_vec)
S3method("dimnames<-", simd_vec)
S3method(as.vector, simd_vec)
S3method(as.double, simd_vec)
S3method(as.integer, simd_vec)
S3method(as.logical, simd_vec)
S3method(bit64::as.integer64, simd_vec)
S3method(as.data.frame, simd_vec)
S3method(print, simd_vec)
S3method(format, simd_vec)
S3method(str, simd_vec)
S3method(all.equal, simd_vec)
importFrom(utils, str)
