useDynLib(rsimd, .registration = TRUE)

# control
export(simd_available)
export(simd_cpu_features)
export(simd_current)
export(simd_precision)
export(simd_tiers)
export(simd_use)
export(simd_version)
export(simd_with_impl)

# reductions
export(simd_all)
export(simd_any)
export(simd_any_na)
export(simd_count_na)
export(simd_max)
export(simd_mean)
export(simd_min)
export(simd_prod)
export(simd_range)
export(simd_sum)
export(simd_which_max)
export(simd_which_min)
export(simd_which_na)
